body{
    font-family: 'Courier New', Courier, monospace;
    background-color: chartreuse;
    border: none;
}
.login{
    background-color: rgba(126, 149, 170, 0.6);
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    border-radius: 20px;
    color :blanchedalmond;
}
input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 20px;
    box-sizing: border-box;
    margin: 5px;
    cursor: pointer;
}
.button{
    background-color: blue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius:  20px;
    color:beige;
    font-size: 20px;
    margin-top: 15px
}
.button:hover{
      background-color: darkturquoise;
      cursor: pointer;
}
