body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: antiquewhite;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: larger;
    color: antiquewhite;
    
}
h2
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: larger;
    color: antiquewhite;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: medium;
    color: antiquewhite;
}
h3
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: larger;
    color: antiquewhite;
}
h4
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: larger;
    color: antiquewhite;
}