* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    background: #615D6C
}

nav {
    background: #89BBFE;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nav-items li{
    display: flex;
}

nav .nav-items {
    display: flex;
    flex: 1;
    list-style: none;
}

nav a {
    color: black;
    font-size: 1.3em;
    text-decoration: none;
    margin-left: 60px;
    background-color: rgb(207, 163, 17);
    padding: 7px;
    border-radius: 8px;
}

nav a:hover{
    color: white;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.452);
}

nav .nav-items li {
    padding: 0 10px;  
    line-height: 5  px;
}

nav .nav-items li a {
    color: black;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 200;
}

nav .nav-items li a:hover {
    color: white    
}

nav form {
    display: flex;
    height: 40%;
    background: white;
    min-width: 15%;
    border-top: 1px solid #483D8B;
    margin-right: 50px;
}

nav form .procurar-data {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    color: #483D8B;
    font-weight: 100;
    background: none;
    border: none;
    font-size: 10px;
    text-align: center;
}

nav form button {
    padding: 0 2px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 10px;
    text-align: center;
    
}

